<h1>New Profile</h1>

<%= form_for(@profile) do |f| %>

  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %>

  <h3><%= f.label :avatar %></h3>
  <%= f.text_field :avatar %></h3>

  <br>
  <%= f.submit "Create Profile" %>

<% end %>
